Flask
Flask-SQLAlchemy
Flask-Login
Flask-WTF
WTForms
Flask-Babel
python-dotenv
requests
google-auth
google-auth-oauthlib
google-auth-httplib2
Werkzeug
gunicorn
gevent
python-decouple
rarfile
py7zr
resend
